{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<h1 class="text-white">Welcome</h1>
<form method="post" class="text-white">
  <div class="mb-3">
    <label for="pseudo" class="form-label">Pseudo</label>
    <input
      type="text"
      class="form-control"
      id="pseudo"
      name="pseudo"
      placeholder="player123"
      value="{{ request.form['pseudo'] }}"
    />
  </div>
  <button class="btn btn-primary" type="submit">Jouer</button>
</form>
{% endblock %}
