{% extends 'base.html' %}
  {% block title %}Home{% endblock %}
  {% block content %}
    <h1>Welcome</h1>
    <form method="post" class="text-white">
        <label for="pseudo">Pseudo</label>
        <br>
        <input type="text" name="pseudo"
               placeholder="player123"
               value="{{ request.form['pseudo'] }}"></input>
        <br>
        <button type="submit">Submit</button>
    </form>
    <h1 class="text-white">Score board</h1>
    {% for score in scores %}
    <p class="text-white">{{score['pseudo']}}: <em>{{score['points']}}</em></p>
    {% endfor %}
    {% endblock %}