{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
    %}
    <div class="progress mt-5 mb-5" style="height: 32px;">
        <div class="progress-bar" role="progressbar" id="progress-bar" style="width: 0%;">0</div>
      </div>
      <div class="row mx-auto">
        <div class="col-md-3"> 
          <button onclick="startTrain(10)" class="btn btn-primary">10</button>
        </div>
        <div class="col-md-3 "> 
          <button onclick="startTrain(100)" class="btn btn-primary">100</button>
        </div>
        <div class="col-md-3"> 
          <button onclick="startTrain(1000)" class="btn btn-primary">1000</button>
        </div>
        <div class="col-md-3"> 
          <button onclick="startTrain(10000)" class="btn btn-primary">10000</button>
        </div>
      </div>
        

      
    {% endblock %}
    {% block script %}
    <script>
        let nb_trained = 0;

        let nb_games_total = 0;
        let bar = document.getElementById('progress-bar');

        const socket = new WebSocket('ws://' + location.host + '/trainSocket');
        function startTrain(nb_games){
          nb_games_total = nb_games;
          nb_trained = 0;
          bar.innerHTML = 0;
          bar.style.width = 0 + '%';
          socket.send(nb_games);
          }


        
          socket.addEventListener('message', ev => {
            if(ev.data != "done"){
            nb_trained++;
            
            bar.style.width = `${nb_trained / nb_games_total *100}%`;
            bar.innerHTML = Number(bar.innerHTML) + 1;
          }else{
            bar.style.width = `100%`;
            bar.innerHTML = `${nb_games_total} are finished`;
          }
          });
    </script>
    {% endblock %}

